<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>display 3D doohickey</title>
</head>

<body>

<div th:fragment="display">

    <div id="target" class="madeleine"></div>
    <canvas width="1280" height="800" style="width: 640px; height: 400px;"/>

</div>

<div class="theme">
    <div class="themeButton light" onclick="mad.adaptViewerTheme('light');">Light</div>
    <div class="themeButton lime" onclick="mad.adaptViewerTheme('lime')">Lime</div>
</div>

<!--<h3>File upload</h3>-->
<!--<form action="">-->
    <!--<input type="file" id="files" name="files" multiple>-->
<!--</form>-->
<!--<div id="upload-target"></div>-->

</body>

<script th:replace="partials/scripts :: scripts">

    window.onload = function(){
        var mad = new Madeleine({
            target: 'ajax-target', // target div id
            data: './Madeleine.js-master/models/skull.stl', // data path
            path: './Madeleine.js-master/src'  // path to source directory from current html file
        });
        Lily.ready({
            target: 'upload-target',
            file: 'files',
            path: './Madeleine.js-master/src'
        });
    };

</script>
</html>