<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>

        <nav th:fragment="nav" id="mainNav" class="navbar navbar-expand-md navbar-link-item">
            <a class="navbar-brand navbar-text" th:href="@{/}">D2D</a>
            <ul class="navbar-nav mr-auto" style="flex-direction: row;justify-content: space-evenly;display: flex;">
                <li class="nav-item">
                    <a class="nav-link navbar-text" th:href="@{'/doohickeys?page=1'}">Explore</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link navbar-text" th:href="@{'/about'}">About</a>
                </li>
            </ul>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link navbar-text" th:href="@{/doohickeys/create}">
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            Create
                        </li>
                    </a>
                </ul>


                <form th:action="@{/doohickeys}" th:method="get" class="form-inline ml-auto mr-2 my-0">
                    <input type="hidden" name="page" th:value="1"/>
                    <input class="form-control" type="text" aria-label="Search" name="search" id="search" placeholder="Search" th:value="${search}"/>
                </form>


                <ul class="navbar-nav">
                    <a class="nav-link navbar-text" th:href="@{/sign-up}" sec:authorize="!isAuthenticated()">
                        <li class="nav-item">
                            Register
                        </li>
                    </a>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <form th:action="@{/login}" th:method="get" class="my-0">
                            <button class="btn-link btn nav-link navbar-text border-0 col-12 text-left">Login</button>
                        </form>
                    </li>


                    <!-- Hide these on smaller screens -->
                    <li class="nav-item dropdown d-none d-md-block" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle navbar-text" th:href="@{/profile}">
                            Profile (<span th:text="${#authentication.principal.username}"></span>)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link navbar-text" th:href="@{'/profile/'+${#authentication.principal.username}+'/edit'}">
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}" th:method="post" class="my-0 form-inline">
                                <button class="btn-link btn nav-link navbar-text border-0">Logout</button>
                            </form>
                        </div>
                    </li>

                    <!-- Only show these on smaller screens -->
                    <a class="nav-link navbar-text d-md-none" sec:authorize="isAuthenticated()" th:href="@{/profile}">
                        <li class="nav-item navbar-text">
                            Profile (<span th:text="${#authentication.principal.username}"></span>)
                        </li>
                    </a>
                    <a class="nav-link navbar-text d-md-none" sec:authorize="isAuthenticated()" th:href="@{'/profile/'+${#authentication.principal.username}+'/edit'}">
                        <li class="nav-item navbar-text">
                            Settings
                        </li>
                    </a>
                    <div class="dropdown-divider d-md-none" sec:authorize="isAuthenticated()" ></div>
                    <li class="nav-item d-md-none" sec:authorize="isAuthenticated()" >
                        <form th:action="@{/logout}" th:method="post" class="my-0 py-0 nav-link">
                            <button class="btn-link btn nav-link navbar-text col-12 text-left">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>