<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <nav th:fragment="nav" id="mainNav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{/}">D2D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" th:href="@{'/doohickeys?page=1'}">Explore</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-light" th:href="@{/doohickeys/create}">Create</a>
                </li>
                <li class="nav-item ml-auto" sec:authorize="!isAuthenticated()">
                    <a class="nav-link text-light" th:href="@{/sign-up}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/login}" th:method="get" class="my-0">
                        <button class="btn-link btn nav-link text-light">Login</button>
                    </form>
                </li>
                <li class="nav-item ml-auto" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-light" th:href="@{/profile}">Profile (<span th:text="${#authentication.principal.username}"></span>)</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn nav-link text-light">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>

    </body>
</html>