<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>

        <nav th:fragment="pageList" class="text-center">
            <ul class="pagination">
                <li th:class="${page.hasPrevious()}? '' : 'disabled'">
                    <a th:if='${not page.isFirst()}' th:href="'?page=1'">
                        ← First
                    </a>
                    <span th:if='${not page.hasPrevious()}'>«</span>
                    <a
                            th:if='${page.hasPrevious()}'
                            th:href="'?page=' + ${page.getNumber()}"
                            title='Go to previous page'
                    >
                        «
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                    <span
                            th:if='${(i) == page.getNumber()+1}'
                            th:text='${i}'>
                        1
                    </span>
                    <a
                            th:if='${not ((i) == page.getNumber()+1)}'
                            th:href="'?page=' + ${(i)}"
                    >
                        <span th:text='${i}'>1</span>
                    </a>
                </li>
                <li th:class="${page.hasNext()} ? '' : 'disabled'">
                    <span th:if='${not page.hasNext()}'>»</span>
                    <a
                            th:if='${page.hasNext()}'
                            th:href="'?page=' + ${page.getNumber() + 2}"
                            title='Go to next page'
                    >
                        »
                    </a>
                    <a
                            th:if='${not page.isLast()}'
                            th:href="'?page=' + ${page.getTotalPages()}"
                    >
                        Last →
                    </a>
                </li>
            </ul>
        </nav>
        
    </body>
</html>