<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <nav th:fragment="pageList" aria-label="Page navigation" th:class="${'text-center pagination mx-auto col-12 '+(pageType == null ? 'px-2' : '')}">
            <ul th:class="${'pagination d-flex justify-content-sm-center '+(pageType == null ? 'center-align' : 'justify-content-md-start ')}">
                <li th:class="${'page-item '+(page.hasPrevious()? '' : 'disabled')}">
                    <a class="page-link" th:href="'?page=1'">
                        <span class="d-md-none">First</span>
                        <span class="d-none d-md-block">← First</span>
                    </a>
                </li>
                <li th:class="${'page-item '+(page.hasPrevious()? '' : 'disabled')}">
                    <a class="page-link"
                            th:href="'?page=' + ${page.getNumber()}"
                            title='Go to previous page'
                    >
                        «
                    </a>
                </li>

                <li th:class="${'page-item ' + ((i) == page.getNumber()+1 ? 'active' : '')}"
                        th:each="i : ${#numbers.sequence(((page.getNumber()-4 &lt; 1) ? 1 : page.getNumber()-4),
                                                ((page.getNumber()-4 &lt; 1) ? ((11 &gt; page.getTotalPages()) ? page.getTotalPages() : 11) :
                                                ((page.getNumber()+6 &lt; page.getTotalPages()) ? page.getNumber()+6 : page.getTotalPages() )))}">
                    <a th:class="${'page-link ' + ((i&lt;page.getNumber() || i&gt;page.getNumber()+2 ) ? 'd-none d-md-block' : '')}"
                            th:href="'?page=' + ${(i)}"
                            th:text='${i}'
                    >
                    </a>
                </li>
                <li th:class="${'page-item '+(page.hasNext() ? '' : 'disabled')}">
                    <a      class="page-link"
                            th:href="'?page=' + ${page.getNumber() + 2}"
                            title='Go to next page'
                    >
                        »
                    </a>
                </li>
                <li th:class="${'page-item '+(page.hasNext() ? '' : 'disabled')}">
                    <a      class="page-link"
                            th:href="'?page=' + ${page.getTotalPages()}"
                    >

                        <span class="d-md-none">Last</span>
                        <span class="d-none d-md-block">Last →</span>
                    </a>
                </li>
            </ul>
        </nav>
        
    </body>
</html>