<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

    <div th:fragment="scripts">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!--madeleine.js-->

        <script src="../../static/Madeleine.js-master/src/Madeleine.js"></script>
        <script src="../../static/Madeleine.js-master/src/lib/detector.js"></script>
        <script src="../../static/Madeleine.js-master/src/lib/MadeleineConverter.js"></script>
        <script src="../../static/Madeleine.js-master/src/lib/MadeleineLoader.js"></script>
        <script src="../../static/Madeleine.js-master/src/lib/stats.js"></script>

    </div>


</body>
</html>