<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <div th:fragment="scripts">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--viewstl scripts-->
        <script src="/js/stl_viewer.min.js"></script>
        <script>
            var stl_viewer = new StlViewer
            (
                document.getElementById("stl_cont"),
                {
                    zoom:200,
                    bgcolor: "#A7AEAC",
                    allow_drag_and_drop: true,
                    auto_resize: true,
                    auto_rotate: true,
                    mouse_zoom: false
                    // models:[{
                    //     filename:"/lamp.stl",
                    //     display: "smooth",
                    //     rotationx: -1.5708,
                    //     rotationy: 0.0,
                    //     rotationz: 0.0
                    //
                    // }]
                }
            );
        </script>
    </div>

</body>
</html>