<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Newest</title>

    <link rel="stylesheet" href="../static/css/doohickey-styling.css">
</head>
<body>
<div id="wrapper">
    <div class="loading-screen">
        <span class="message center"></span>
    </div>

    <div class="page-container">
        <div id="push-wrap">
            <div id="push-main">
                <div class="site-header">
                    <div class="center_content justify">
                        <div class="login">
                            <div class="login-box">
                                <a href="">Sign in / Join</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div class="center_content top_content justify">
                        <form class="menus inline">
                            <label>
                                <select name="type" class="select-menu">
                                    <option value="newest" selected="">
                                        Newest
                                    </option>
                                    <option value="featured">
                                        Featured
                                    </option>
                                    <option value="popular">
                                        Popular
                                    </option>
                                    <option value="remixes">
                                        Remixes
                                    </option>
                                </select>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item">
<div class="item-header">
    <a class="avatar-link"><div class="avatar-wrapper"></div></a>
    <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
        <div class="justify">
            by <h4 th:text="${user.username}"></h4>
            <span class="item-date">1 mins ago</span>
        </div>
    </div>
</div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="item-header">
        <a class="avatar-link"><div class="avatar-wrapper"></div></a>
        <div class="item-info center">
        <span class="ellipsis">
            <h3 th:text="${doohickey.title}"></h3>
        </span>
            <div class="justify">
                by <h4 th:text="${user.username}"></h4>
                <span class="item-date">1 mins ago</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>