<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="partials/head :: head('Edit Profile')"/>
    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <script>
            const client = filestack.init('AsZ4wkm4kSSCPWhIZYFqEz');
        </script>
        <div id="particles-js"></div>
        <main class="container-fluid mx-auto pt-3 mb-7">
            <div class="content-box edit-profile-page box-shadow-style">
                <div class="content-header center-align font-heading-1 edit-header pt-4">Edit your profile</div>
                <hr/>
                <div class="card-body font-body-1">
                    <div class="col-12">
                        <form th:action="@{'/profile/'+${user.username}+'/edit'}" method="POST" th:object="${userDetails}">
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input class="form-control box-shadow-style" id="location" th:field="*{location}"/>
                            </div>
                            <div class="form-group">
                                <label for="classification">Who are you?</label>
                                <select class="form-control box-shadow-style" th:field="*{classification}" id="classification">
                                    <option value="0">Artist</option>
                                    <option value="1">Designer</option>
                                    <option value="2">Engineer</option>
                                    <option value="3">Maker</option>
                                    <option value="4">Professional</option>
                                    <option value="5">Student</option>
                                    <option value="6">Teacher</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea class="form-control box-shadow-style" id="bio" rows="5" th:field="*{bio}"></textarea>
                            </div>
                            <div class="row mb-1">
                                <button type="submit" class="mx-auto btn edit-profile-btn box-shadow-style">Save!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <script>
            function initAutoComplete() {
                var autocomplete = new google.maps.places.Autocomplete(
                    (document.getElementById('location')), {
                        types: ['(cities)']
                    });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2UFPuK_2nL3FPcjAOeilpUxUirnYptA&amp;libraries=places&amp;callback=initAutoComplete" async="async" defer="defer"></script>

        <nav th:replace="partials/footer :: footer"></nav>
        <th:block th:include="partials/scripts :: scripts" />

    </body>
</html>