<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="partials/head :: head('View Profile')">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </th:block>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<main class="container-fluid w-100 pt-3">
    <div class="profile-page row h-75 col-10 mx-auto">
        <div class="profile-user-info col-4 text-center content-box">
            <div class="profile-card">
                <div class="row user-info">

                    <div class="col-12 profile-image-header">
                        <div>
                            <img src="/icons/user-regular.svg" alt="placeholder image" id="profile-image"/>
                        </div>
                        <div class="content-header" th:text="${user.username}">Display Name</div>
                        <span><a th:href="${'/profile/' + user.username + '/edit'}"><img src="/icons/edit-regular.svg"
                                                                                         id="edit-btn"
                                                                                         alt="edit icon button"/></a></span>
                    </div>

                    <div class="col-12">
                        <img id="user-icon" src="/icons/user-circle-solid.svg" alt="user icon"/>
                        <span class="profile-username" th:text="${user.username}">Username</span>
                    </div>

                    <div class="user-location col-12">
                        <img id="user-location" src="/icons/globe-solid.svg" alt="location icon"/>
                        <span class="profile-location">Location</span>
                    </div>

                </div>
                <div class="row">
                    <button class="tip-maker-btn m-auto btn">Tip Designer</button>
                    <br/>
                </div>

                <hr/>

                <!-- User doohickeys and favourites-->

                <div class="row">
                    <div class="col-6 mx-auto">
                        <button class="profile-sidebar-btns" th:href="${'/profile/' + user.username + '/doohickeys'}">
                            <span th:text="${user.doohickeyList.size()}">1</span>
                            <br/>
                            <span>Doohickeys</span>
                        </button>
                    </div>
                    <div class="col-6 mx-auto">
                        <button class="profile-sidebar-btns" th:href="${'/profile/' + user.username + '/favorites'}">
                            <span th:text="${user.favorites.size()}">1</span>
                            <br/>
                            <span>Favorites</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-main col-7 ml-auto">
            <nav id="profileNav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0 py-0 uppercase" th:href="${'/profile/' + user.username}">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 uppercase" th:href="${'/profile/'+user.username+'/doohickeys'}">
                            Doohickeys
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 uppercase" th:href="${'/profile/'+user.username+'/favorites'}">
                            Favorites
                        </a>
                    </li>
                </ul>
            </nav>

            <!--User favorites-->

            <div id="profileBio" class="content-box row">
                <span class="content-header uppercase col-12"
                      th:text="${user.username + 's Favorites'}">Username's Favorites</span>
                <div class="bio col-12">
                    <p>Lorem Ipsum is simply dummy text.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<nav th:replace="partials/footer :: footer"></nav>
<th:block th:include="partials/scripts :: scripts"/>
</body>
</html>