<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="partials/head :: head('Login')"/>
    </head>
    <body class="main-background">
        <th:block th:include="partials/scripts :: scripts" />
        <nav th:replace="partials/navbar :: nav"></nav>

        <main class="container-fluid login-page col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto pt-3">
            <div class="login-content-box content-box col-12 mt-5 px-0 box-shadow-style fade-in-anim">
                <div class="login-header content-header font-heading-2 pt-3 pb-2">
                    <h4 class="font-heading-1 center-align">Log in</h4>
                    <hr/>
                </div>
                <div class="content-box-body">
                    <div class="col-12">
                        <div class="customError mb-3 font-body-2">
                            <div class="col-8" th:if="${param.error}">
                                <p>Invalid Username and Password</p>
                            </div>
                            <div class="col-8" th:if="${param.logout}">
                                <p>You have been logged out</p>
                            </div>
                        </div>
                        <div class="login-form">
                            <form th:action="@{/login}" method="POST">
                                <div class="form-group">
                                    <label for="username" class="font-body-1 login-text">Username</label>
                                    <input class="form-control box-shadow-style" id="username" name="username" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-body-1 login-text">Password</label>
                                    <input class="form-control box-shadow-style" id="password" name="password" type="password" />
                                </div>
                                <div class="row pb-2">
                                    <button type="submit" class="mx-auto login-btn font-body-1">Log In!</button>
                                </div>
                                <div class="row pb-3">
                                    <small id="signUpHelp" class="mx-auto form-text text-muted">
                                        Don't have an account?
                                        <a href="/sign-up" id="sign-up-link">Sign Up</a>
                                    </small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="particles-js"></div>
        <nav th:replace="partials/footer :: footer"></nav>
        <th:block th:include="partials/scripts :: scripts" />

    </body>
</html>