<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/head :: head(${user.username+'''s Profile'})">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <main class="container-fluid w-50 pt-3">
            <div class="card">
                <div class="col-12" th:text="${user.username+'''s Profile'}">
                    User's Profile
                </div>
            </div>
        </main>
    </body>
</html>