<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="partials/head :: head('View Profile')">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
    </th:block>
    <link rel="stylesheet" href="/css/doohickey-styling.css"/>
</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<main class="container-fluid w-100 row profile-page">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-3 pb-0 profile-left">
        <!--USER PROFILE INFO CARD-->
        <div class="profile-card card text-center box-shadow-style pb-5">
            <div class="row">
                <div class="user-info mx-auto">
                    <div sec:authorize="isAuthenticated()" class="profile-img-container">
                        <form id="newPFP" th:action="@{/profile/updatePicture}" th:method="post"></form>
                        <img th:src="${user.getPhotoURL()}"
                             alt="Profile Photo" id="profile-image" th:class="${(user.photoURL.equals('/icons/user-regular.svg') ? ' stockPFP' : '')+(#authentication.principal.id == user.id ? ' opOnHover' : '')}"
                             th:style="${'cursor:pointer;'} "/>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <img th:src="${user.getPhotoURL()}"
                             th:class="${user.photoURL.equals('/icons/user-regular.svg') ? ' stockPFP' :''} "
                             alt="Profile Photo" id="profile-image"/>
                    </div>
                    <div class="user-info font-body-2">
                        <div class="content-header">
                            <span th:text="${user.username}">Display name</span>
                        </div>
                        <div>
                            <span class="user-type" th:text="${userDetails.getClassificationName()}">User Type</span>
                        </div>
                        <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
                            <a th:href="${'/profile/' + user.username + '/edit'}">
                                <img src="/icons/edit-regular.svg" id="edit-btn" alt="edit icon button"/>
                            </a>
                        </span>
                        <div class="user-location" th:if="${!userDetails.location.equals('')}">
                            <img id="location-img" src="/icons/globe-solid.svg" alt="location icon"/>
                            <span class="profile-location" th:text="${userDetails.location}">Location</span>
                        </div>

                        <hr/>

                        <div class="row pb-4">
                            <div class="mx-auto col-6">
                                <a  th:href="${'/profile/' + user.username + '/doohickeys'}">
                                    <button class="doo-fav-btns">
                                        <span class="font-body-2" th:text="${user.doohickeyList.size()}">1</span>
                                        <br/>
                                        <span>Doohickeys</span>
                                    </button>
                                </a>
                            </div>
                            <div class="mx-auto col-6">
                                <a th:href="${'/profile/' + user.username + '/favorites'}">
                                    <button class="doo-fav-btns">
                                        <span th:text="${user.favorites.size()}">1</span>
                                        <br/>
                                        <span>Favorites</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TOGGLE INFO-->

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 profile-right">
        <nav class="profile-nav box-shadow-style" id="profileNav">
            <ul class="nav small-nav">
                <li class="nav-item">
                    <a class="small-nav-link nav-link pb-3 py-1 font-heading-1"
                       th:href="${'/profile/' + user.username}">
                        ABOUT
                    </a>
                </li>
                <li class="nav-item">
                    <a class="small-nav-link nav-link pb-3 py-1 font-heading-1"
                       th:href="${'/profile/'+user.username+'/doohickeys'}">
                        DOOHICKEYS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="small-nav-link nav-link pb-3 py-1 font-heading-1"
                       th:href="${'/profile/'+user.username+'/favorites'}">
                        FAVORITES
                    </a>
                </li>
            </ul>
        </nav>

        <div class="bio-card card box-shadow-style" id="profileBio" th:if="${pageType.equals('about')}">
            <span class="content-header uppercase mx-auto font-heading-1 pt-4"
                  th:text="${'About ' + user.username}">About Username</span>
            <div class="bio col-12 px-4 card-body font-body-1">
                <p th:text="${userDetails.bio}">Lorem Ipsum is simply dummy text.</p>
            </div>
        </div>
        <th:block th:if="${!pageType.equals('about')}">
            <div class="col-12">
                <nav th:replace="partials/pagination :: pageList"></nav>

                <div class="row col-12 mx-sm-auto">
                    <th:block th:each="doohickey, iStat : ${page}">
                        <div th:class="${'item doohickey col-sm-12 '+(pageType == null ? 'col-md-4' : 'col-md-6')+' px-0  mx-md-1 mx-sm-auto'}">
                            <div th:replace="partials/doohickey :: doohickey"></div>
                        </div>
                    </th:block>
                </div>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
                <script>
                    $(".favButton").click(function(e){
                        var button = $(this);
                        var id = button.attr("data-id");
                        console.log(button);
                        $.get("/doohickeys/"+id+"/favorite",function(data){
                            console.log(data);
                            if(data == "Favorited") {
                                console.log(data);
                                button.find("i").removeClass("far");
                                button.find("i").addClass("fas");
                                button.find("span").text(parseInt(button.find("span").text())+1);
                            }else if (data == "UnFavorited"){
                                console.log(data);
                                button.find("i").addClass("far");
                                button.find("i").removeClass("fas");
                                button.find("span").text(parseInt(button.find("span").text())-1);
                            }else {
                                document.location = "/login";
                            }
                        });
                    });
                </script>
                <script src="js/timeago.min.js" type="text/javascript"></script>
                <script>
                    timeago.render($('.item-date'));
                </script>
            </div>
        </th:block>
    </div>
</main>
<canvas class="dynamic-background"></canvas>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"/>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    (function () {
        const client = filestack.init('AsZ4wkm4kSSCPWhIZYFqEz');
        const fsoptions = {
            fromSources: ["local_file_system"],
            accept: ["image/jpg", "image/jpeg", "image/png", "image/bmp"],
            imageDim: [800, 800],
            maxFiles: 1,
            storeTo: {
                path: '/profiles/'
            },
            onUploadDone: res => {
            let file = res.filesUploaded[0];
        $('<input/>').attr({'type': 'hidden', 'value': file.key, 'name': 'key'}).appendTo('#newPFP');
        $("#newPFP").submit();
    },
        transformations: {
            circle:true,
                force:true
        }
    }
        $(document).ready(function () {
            $(document).on("click", "#profile-image", function () {
                client.picker(fsoptions).open();
            });
        });
    })();
</script>
</body>
</html>