<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="partials/head :: head('Sign Up!')"/>
    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <main class="container-fluid content-wrap register-page col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto pt-3 mb-10">
            <div class="content-box login-content-box col-12 px-0 box-shadow-style">
                <div class="content-header font-heading-2 pt-3 pb-2">
                    <h4 class="register-heading center-align font-heading-1">Register</h4>
                    <hr/>
                </div>
                <div class="row">
                    <div class="col-12 px-6">
                        <form class="register-form" th:action="@{/sign-up}" method="POST" th:object="${user}">

                            <div class="form-group px-5 register-text font-body-1">
                                <label for="username">Username</label>
                                <input class="form-control box-shadow-style" id="username" th:field="*{username}" />
                            </div>
                            <div class="form-group px-5 register-text font-body-1">
                                <label for="email">Email</label>
                                <input class="form-control box-shadow-style" id="email" th:field="*{email}" />
                                <small id="emailHelp" class="form-text text-muted never-share">We'll never share your email.</small>
                            </div>
                            <div class="form-group px-5 register-text font-body-1">
                                <label for="password">Password</label>
                                <input class="form-control box-shadow-style" id="password" type="password" th:field="*{password}" />
                            </div>
                            <div class="form-group px-5 register-text font-body-1">
                                <label for="cnfmpassword">Confirm Password</label>
                                <input class="form-control box-shadow-style" id="cnfmpassword" type="password" th:field="*{cnfmpassword}" />
                            </div>
                            <div class="register-errors box-shadow-style">
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                            </div>
                            <div class="row pb-2">
                                <button type="submit" class="mx-auto btn login-btn font-body-1 box-shadow-style">Sign me up!</button>
                            </div>
                            <div class="row pb-3">
                                <small id="logInHelp" class="mx-auto form-text text-muted font-body-2">
                                    Already have an account?
                                    <a href="/login">Log In</a>
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <div id="particles-js"></div>
        <nav th:replace="partials/footer :: footer"></nav>
        <th:block th:include="partials/scripts :: scripts" />

    </body>
</html>