<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials/head :: head(${title})"/>
    <title th:text="'Oops, ' + ${error}"></title>
</head>
<body>
<div id="particles-js"></div>
<main class="container-fluid mx-auto">
    <div class="error-four-oh-four center-align">
        <div class="errors">
            <th:block th:switch="${error}">
                <div th:case="'Not Found'">
                    <h1 class="error-flash">404</h1>
                    <p>Page cannot be found.</p>
                </div>
                <div th:case="'Forbidden'">
                    <h1>You don't have permission to view this page.</h1>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="partials/scripts :: scripts"/>
</body>
</html>