@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Playfair+Display|Raleway|Roboto&display=swap');

*, :root {
    --green-1: rgba(4, 167, 119, 0.65); /* #04A777 */
    --green-2: rgba(134, 231, 184, 0.65); /* #86E7B8 */
    --blue-1: rgba(84, 242, 242, 0.65); /* #54F2F2 */
    --orange-1: rgba(252, 185, 125, 0.65); /* #FCB97D */
    --orange-2: rgba(244, 96, 54, 0.65); /* #F46036 */
    --white-1: rgba(252, 252, 252, 0.65); /* #FCFCFC */
    --purple-1: rgba(125, 83, 222, 0.65); /* #7D53DE */
    --purple-2: rgba(172, 150, 221, 0.65); /* #AC96DD */
    --text-general: rgba(11, 28, 33, 0.65); /* #0B1C21 */
}

html, body {
    position: relative;
    min-height: 100vh;
}

body {
    background: linear-gradient( #111 25%,#222 75%,#555 100%);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: var(--green-1);
    z-index: 2;
}

a {
    color: var(--purple-1);
}

a:hover {
    color: var(--purple-2);
}

.dropdown:hover .dropdown-menu {
    display: block;
    top:95%;
    left:-5px;
}

.font-heading-1 {
    font-family: 'Comfortaa', cursive;
}

.font-heading-2 {
    font-family: 'Roboto', sans-serif;
}

.font-body-1 {
    font-family: 'Open Sans', sans-serif;
}

.font-body-2 {
    font-family: 'Raleway', sans-serif;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

#particles-js {
    background: linear-gradient(#222 50%, #555 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: block;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
}

.content-box {
    background: inherit;
    z-index: 2;
}

.box-shadow-style {
    box-shadow: 5px 5px 2px rgba(85, 117, 157, 0.1);
}

.content-wrap {
    padding-bottom: 2.5rem;
}

/*PAGINATION BUTTONS*/

a.page-link {
    background-color: rgba(255, 255, 255, .75);!important
}

/*ANIMATIONS*/

.ease-in-anim {
    animation-duration: 2s;
    animation-name: easeIn;
}

.fade-in-anim {
    animation-duration: 3s;
    animation-name: fadeIn;
}

.bounce-in-anim {
    animation-duration: 2s;
    animation-name: bounceIn;
}

/*MAIN NAVBAR*/

.navbar-expand-md {
    background-color: var(--white-1);
    font-family: 'Raleway', sans-serif;
    color: var(--green-1);
    z-index: 10;
    border-bottom: rgba(210, 246, 253, 1);
}

.navbar-brand {
    color: var(--green-1);
}

.navbar-text {
    color: var(--green-1);
}

.navbar-link-item {
    color: var(--green-1);
    font-size: 16px;
}

.navbar-toggler-icon {
    color: var(--green-1);
}

/*LOGIN PAGE*/

.login-content-box {
    background-color: var(--white-1);
    border-radius: 5px;
    color: var(--text-general);
}

.login-text {
    font-size: 20px;
}

.login-btn {
    background-color: var(--green-1);
    border-color: var(--white-1);
    color: var(--white-1);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: transparent;
    border-color: var(--green-1);
    color: var(--green-1);
}

.customError {
    background-color: var(--white-1);
    color: var(--orange-2);
}

/*REGISTER PAGE*/

.register-form .form-group {

}

/*PROFILE PAGE*/

.profile-nav {
    background-color: rgba(255, 255, 255, .75);
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    padding-top: 1em;
}

.profile-card, .bio-card {
    background-color: rgba(255, 255, 255, .75);
}

.profile-card {
    margin-bottom: 4em;
}

.bio-card {
    margin-bottom: 5em;
}

.bio-header {
    font-size: 26px;
}

.bio {
    color: var(--main-text-color);
}

.profile-nav {
    align-content: center;
}

.small-nav-link {
    color: var(--accent-color-1);
    padding: 1em;
    font-size: large;
}

.small-nav-link:hover {
    text-shadow: 5px 5px 2px lightgrey;
}

.stockPFP{
    opacity:0.5;
}

.opOnHover:hover{
    opacity:0.5;
}

.doo-fav-btns {
    height: 100px;
    width: 100px;
    color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    padding-left: 0;
    padding-right:0;
}

.doo-fav-btns:hover {
    color: var(--dark-color-1);
    border-color: var(--dark-color-1);
    background-color: transparent;
}

/*SHOW PAGE*/

.view-stl-model-heading {
    font-size: 26px;
}

.view-stl-model {
    background-color: rgba(255, 255, 255, .5);
}

.about-stl-model {
    background-color: rgba(255, 255, 255, .5);
}

.stl-download-btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1em;
    width: 100%;
    color: rgba(235, 239, 233, 1);
    border-color: rgba(235, 239, 233, 1);
    background-color: var(--dark-color-1);
}

.stl-download-btn:hover {
    background-color: transparent;
    border-color: var(--dark-color-1);
    color: var(--dark-color-1);
}

.stl-edit-btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    background-color: transparent;
}

.stl-edit-btn:hover {
    color: var(--dark-color-1);
    border-color: var(--dark-color-1);
    background-color: transparent;
}

.stl-delete-btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: var(--warning-color);
    border-color: var(--warning-color);
    background-color: transparent;
}

.stl-delete-btn:hover {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: white;
    background-color: var(--warning-color);
    border-color: white;
}

.stl-cont {
    overflow: hidden;
    margin: auto;
}

#edit-btn {
    height: 19px;
    width: 19px;
    margin-bottom: 12px;
}

#edit-btn:hover {
    opacity: .75;
}

#location-img {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

#user-icon-img {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

#newPFP {
    display: none;
}

#profile-image, #newPFP {
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 50%;
    border-width: 0;
    height: 10em;
    width: 10em;
}

.stl-cont {
    width:300px;
    height:300px;
    margin:0 auto;
    border-color: black;
}

/*EDIT/CREATE PAGE*/

.stl-edit-content-box {
    background-color: rgba(255, 255, 255, .75);
    border-radius: 5px;
}

.edit-content-header {
    color: var(--main-text-color);
    font-size: 26px;
    text-shadow: 10px 10px rgba(62, 181, 195, .5);
}

.save-changes-btn {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 50%;
    color: var(--dark-color-1);
    border-color: var(--dark-color-1);
    background-color: transparent;
}

.save-changes-btn:hover {
    color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    background-color: transparent;
}

.stl-preview {
    align-content: center;
}

.model-preview {
    align-content: center;
}