*, :root {
    --main-color-1: rgba(249, 246, 244, 0.5); /*  #F9F6F4  */
    --main-color-2: rgba(249, 246, 244, 0.75); /*  #F9F6F4  */
    --accent-color-1: rgba(181, 197, 197, 1.0); /*  #B5C5C5  */
    --accent-color-2: rgba(150, 182, 191, 1.0); /*  #96B6BF  */
    --accent-color-3: rgba(167, 174, 172, 1.0); /*  #A7AEAC  */
    --dark-color-1: rgba(85, 117, 157, 1.0); /*  #55759D  */
    --dark-color-2: rgba(85, 117, 157, 0.1); /*  #55759D  */
}

body {
    background: var(--main-color-1);
}

a {
    color: var(--accent-color-2);
}

#mainNav {
    background: var(--dark-color-1);
}

.abgc1 {
    background-color: var(--accent-color-1);
}

.abgc2 {
    background-color: var(--accent-color-2);
}

.abgc3 {
    background-color: var(--accent-color-3);
    color: var(--main-color-1);
}

.uppercase {
    text-transform: uppercase;
}

.content-box {
    border: 1px solid var(--dark-color-2);
    background: var(--main-color-2);
}

.content-header {
    font-size: 1.5em;
    font-weight: bold;
}

.doohickey {
    cursor: pointer;
}

.doohickey:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    transition: 0.2s ease;
    opacity: 0.9;
}

ul.nav.bg-dark {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Profile page*/

.profile-username {
    padding-bottom: 5em;
}

.user-info {
    /*background-color: rgba(150, 182, 191, 1.0);*/
    /*border-color: rgba(150, 182, 191, 1.0);*/
    /*padding-bottom: 2em;*/
    /*border-width: 3em;*/
}

#user-icon {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

#user-location {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

.user-classification {
    margin-top: 5em;
}

.user-info-body {
    margin: 2px;
}

.user-count {
    margin-top: 14em;
}

.user-count:hover {
    border-color: white;
    color: white;
}

.profile-image-header {
    background-color: rgba(150, 182, 191, 1.0);
}

.profile-info-btns {
    margin: 10px 0px 0px 0px;
    font-size: x-small;
}

.content-header {
    margin-bottom: 5px;
}

#profile-image {
    z-index: 5;
    padding: 10px;
    margin-top: 8px;
    border-radius: 50%;
    height: 10em;
    width: 10em;
}
.dropdown:hover .dropdown-menu {
    display: block;
    top:95%;
  left:-5px;
}
