@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Playfair+Display|Raleway|Roboto&display=swap');

*, :root {
     --main-color-1: rgba(249, 246, 244, 0.5); /*  #F9F6F4  */
     --main-color-2: rgba(249, 246, 244, 0.75); /*  #F9F6F4  */
     --accent-color-1: rgba(181, 197, 197, 1.0); /*  #B5C5C5  */
     --accent-color-2: rgba(150, 182, 191, 1.0); /*  #96B6BF  */
     --accent-color-3: rgba(167, 174, 172, 1.0); /*  #A7AEAC  */
     --dark-color-1: rgba(85, 117, 157, 1.0); /*  #55759D  */
     --dark-color-2: rgba(85, 117, 157, 0.1); /*  #55759D  */
     --font-color-general: rgba(69, 69, 69, 69); /* #454545 */
 }

html {
    height: 100%;
}

body {
    /*background: var(--main-color-1);*/
    margin-bottom:40px;
}

a {
    color: rgba(255, 255, 255, 1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: rgba(85, 117, 157, 1);
}

.font-heading-1 {
    font-family: 'Comfortaa', cursive;
}

.font-heading-2 {
    font-family: 'Roboto', sans-serif;
}

.font-body-1 {
    font-family: 'Open Sans', sans-serif;
}

.font-body-2 {
    font-family: 'Raleway', sans-serif;
}

.navbar-expand-md {
    z-index: 50;
}

#mainNav {
    background: var(--dark-color-1);
}

.abgc1 {
    background-color: var(--accent-color-1);
}

.abgc2 {
    background-color: var(--accent-color-2);
}

.abgc3 {
    background-color: var(--accent-color-3);
    color: var(--main-color-1);
}

.uppercase {
    text-transform: uppercase;
}

.content-box {
    border: 1px solid var(--dark-color-2);
    background: var(--main-color-2);
}

ul.nav.bg-dark {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-shadow-style {
    box-shadow: 5px 5px 2px rgba(85, 117, 157, 0.1);
}


/*profile.html*/

.profile-nav {
    align-content: center;
}

.small-nav-link {
    color: rgba(85, 117, 157, 1);
    padding: 1em;
    font-size: large;
}

.small-nav-link:hover {
    text-shadow: 5px 5px 2px lightgrey;
}

.content-header {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--font-color-general);
}

.user-location {
    color: var(--font-color-general);
}

.bio {
    color: var(--font-color-general);
}

#profile-image, #newPFP {
    /*padding: 10px;*/
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 50%;
    border-width: 0;
    height: 10em;
    width: 10em;
}
.stockPFP{
    opacity:0.5;
}
.opOnHover:hover{
    opacity:0.5;
}

#edit-btn {
    height: 19px;
    width: 19px;
    margin-bottom: 12px;
}

#edit-btn:hover {
    opacity: .75;
}

#location-img {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

#user-icon-img {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;
}

#newPFP {
    display: none;
}

.tip-maker-btn {
    margin: 0 10px 0 10px;
    padding-bottom: 4px;
    font-size: small;
    height: 35px;
    width: 120px;
    background-color: var(--accent-color-2);
    color: var(--main-color-2);
    border-color: var(--main-color-2);
    text-align: center;
}

.tip-maker-btn:hover {
    background-color: transparent;
    color: var(--accent-color-2);
    border-color: var(--accent-color-2);
}

.doo-fav-btns {
    height: 100px;
    width: 100px;
    color: var(--main-color-2);
    border-color: var(--main-color-2);
    background-color: rgba(85, 117, 157, .7);
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    padding-left: 0;
    padding-right:0;
}

.doo-fav-btns:hover {
    color: rgba(85, 117, 157, .7);
    border-color: rgba(85, 117, 157, .7);
    background-color: transparent;
}

.profile-left, .profile-right {
    margin-bottom: 1em;
}

.profile-right {
    margin-top: 1em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    top:95%;
    left:-5px;
}


/*show.html*/

.three-d-show {
    padding: 5px;
    max-height: 400px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.stl-author-link a {
    color: var(--font-color-general); !important;
}

.stl-author-link a:hover {
    color: var(--dark-color-1);
    text-decoration: none;
}

.stl-about-box {
    /*min-height: 100px;*/
}

.view-stl-model {
    /*margin-right: 2em;*/
}

.about-stl-model {
    /*margin-left: 2em;*/
}

.stl-download {
    align-content: center;
}

.stl-download-btn {
    margin-bottom: 1em;
    width: 100%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(85, 117, 157, 1);
    color: rgba(255, 255, 255, 1);
}

.stl-download-btn:hover {
    border-color: rgba(85, 117, 157, 1);
    background-color: transparent;
    color: rgba(85, 117, 157, 1);
}

.stl-edit-btn {
    margin-bottom: 1em;
    width: 100%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(120, 196, 159, 1);
}

.stl-edit-btn:hover {
    border-color: rgba(120, 196, 159, 1);
    background-color: transparent;
}

.stl-edit-btn a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.stl-edit-btn a:hover {
    color: rgba(120, 196, 159, 1);
    text-decoration: none;
}

.stl-delete-btn {
    margin-bottom: 1em;
    width: 100%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(197, 91, 74, 1);
    color: rgba(255, 255, 255, 1);
}

.stl-delete-btn:hover {
    border-color: rgba(197, 91, 74, 1);
    background-color: transparent;
    color: rgba(197, 91, 74, 1);
}

.stl-tags-box a {
    color: var(--font-color-general);
}

#profileBio {
     margin-bottom: 125px;
}

/*login.html*/

.login-form {
    color: var(--font-color-general);
}

.login-header {
    background-color: rgba(85, 117, 157, .75);
    color: #FFFFFF;
}

.login-btn {
    background-color: var(--dark-color-1);
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 5px;
    padding: 1em;
}

.login-btn:hover {
    background-color: transparent;
    color: var(--dark-color-1);
    border-color: var(--dark-color-1);
}

#sign-up-link {
    color: var(--accent-color-1);
}

#sign-up-link:hover {
    color: var(--dark-color-1);
}

.customError {
    background-color: rgba(197, 91, 74, .5);
    border-radius: 5px;
    align-content: center;
}


/*!*==========  Mobile First Method  ==========*!*/

/*!* Custom, iPhone Retina *!*/
/*@media only screen and (min-width : 320px) {*/

    /*.container-fluid {*/
        /*margin: auto;*/
        /*position: absolute;*/
        /*top: 5em; left: 0; bottom: 0; right: 0;*/
    /*}*/

    /*.small-nav {*/
        /*text-align: center;*/
        /*font-size: medium;*/
    /*}*/

    /*.view-stl-model {*/
        /*margin-right: 0;*/
    /*}*/

    /*.about-stl-model {*/
        /*margin-left: 0;*/
    /*}*/

    /*.profile-right {*/
        /*margin-bottom: 10em;*/
    /*}*/
/*}*/

/*!* Extra Small Devices, Phones *!*/
/*@media only screen and (min-width : 480px) {*/

    /*.container-fluid {*/
        /*margin: auto;*/
        /*position: absolute;*/
        /*top: 5em; left: 0; bottom: 0; right: 0;*/
    /*}*/

    /*.small-nav {*/
        /*text-align: center;*/
        /*font-size: medium;*/
    /*}*/

    /*.view-stl-model {*/
        /*margin-right: 0;*/
    /*}*/

    /*.about-stl-model {*/
        /*margin-left: 0;*/
    /*}*/
/*}*/