<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--    <head>-->
<!--        <th:block th:replace="partials/head :: head('Home')"/>-->
<!--    </head>-->
<!--        <div th:replace="partials/navbar :: nav"></div>-->
<!--    <body>-->
<!--    <div id="particles-js"></div>-->
<!--    <main role="main">-->

<!--    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 280px;">-->
<!--        <ol class="carousel-indicators" style="height: 25px;">-->
<!--            <li data-target="#myCarousel" data-slide-to="0" class=""></li>-->
<!--            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>-->
<!--            <li data-target="#myCarousel" data-slide-to="2" class=""></li>-->
<!--        </ol>-->
<!--        <div class="carousel-inner" style="height: 276px;">-->
<!--            <div class="carousel-item" style="height: 267px;">-->
<!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#343a40" style="height: 286px;"></rect></svg>-->
<!--                <div class="container">-->
<!--                    <div class="carousel-caption login-content-box content-box box-shadow-style">-->
<!--                        <h1>50+ Users</h1>-->
<!--                        <p>Show us what you made: the world wants to see it! 3D modeling and printing is still in its infancy. The more you share your work, the more your designs inspire others, get printed, and do awesome things.</p>-->
<!--                        <p><a class="btn btn-lg" style="background-color: #55759D; color: white;" href="#" role="button">Sign up today</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item active" style="height: 267px;">-->
<!--                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#343a40" style="height: 286px;"></rect></svg>-->
<!--                <div class="container">-->
<!--                    <div class="carousel-caption login-content-box content-box box-shadow-style">-->
<!--                        <h1>100+ Uploads</h1>-->
<!--                        <p>Our community has uploaded over 100 3D models, and that number is growing every day. Check out all the incredible objects people have created, and get inspired to make your own!</p>-->
<!--                        <p><a class="btn btn-lg" style="background-color: #55759D; color: white;" href="#" role="button">Learn more</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item" style="height: 267px;">-->
<!--                <img src="https://www.digitalistmag.com/files/2016/11/3D-printing.jpg" style="width: 100%"/>-->
<!--                <div class="container">-->
<!--                    <div class="carousel-caption login-content-box content-box box-shadow-style">-->
<!--                        <h1>50+ Downloads</h1>-->
<!--                        <p>If you see a model you like in out library feel free to download the file. </p>-->
<!--                        <p><a class="btn btn-lg" style="background-color: #55759D; color: white;" href="#" role="button">Explore</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" style="height: 267px;">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" style="height: 267px;">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--    </div>-->

<!--    <div class="container">-->

<!--        <div class="row">-->
<!--            <div class="col-lg-4" style="text-align: center; animation: ease-in;">-->
<!--                <img class="rounded-circle" src="https://images-eu.ssl-images-amazon.com/images/I/41BhKPIAyjL.png" width="140" height="140"/>-->
<!--                <h2>Share</h2>-->
<!--                <p style="text-align: start">Show us what you made: the world wants to see it! 3D modeling and printing is still in its infancy. The more you share your work, the more your designs inspire others, get printed, and do awesome things.</p>-->
<!--            </div>-->
<!--            <div class="col-lg-4" style="text-align: center;">-->
<!--                <img class="" src="http://bankostan.ir/wp-content/uploads/2017/04/search.png" width="140" height="140"/>-->
<!--                <h2>Discover</h2>-->
<!--                <p style="text-align: start">Our community has uploaded over 100 3D models, and that number is growing every day. Check out all the incredible objects people have created, and get inspired to make your own!</p>-->
<!--            </div>-->
<!--            <div class="col-lg-4" style="text-align: center">-->
<!--                <img class="rounded-circle" src="https://cdn3.iconfinder.com/data/icons/useful-blue-icons/154/Most_Useful_icons_Mono_Blue_Background-15-512.png" width="140" height="140"/>-->
<!--                <h2>Download</h2>-->
<!--                <p style="text-align: start">If you see a model you like in our ever expanding library, feel free to use the icon on its show page to download the .stl file for favorite it for later.</p>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--<nav th:replace="partials/footer :: footer"></nav>-->
<!--<th:block th:include="partials/scripts :: scripts" />-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>

    <meta charset="UTF-8">
        <th:block th:replace="partials/head :: head('Home')"/>
    </head>
        <div th:replace="partials/navbar :: nav"></div>
    <body>
    <div id="particles-js"></div>
    <main role="main"></main>
    <div>
    <div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h1>Still using an tired old ...? </h1>
                <h3>Try Data2Doohickey</h3>
                <h5 >Learn More About Us <a href=""><span class="arrow-down; ratio: 2.0"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="arrow-down"><polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon><line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line></svg></span></a>
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="login-content-box">
    <h1 style="text-align: center">Data2Doohickeys Features</h1>
    <div>
        <div>
            <div class="">
                <h3>1. Share</h3>
                <img src="" alt="">
            </div>
            <div class="">
                <h3>2. Discover</h3>
                <img src="" alt="">
            </div>
            <div class="">
                <h3>3. Download</h3>
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div class="">
                <h2 class="">Data2Doohickey | Modern ... System</h2>
                <p class="">Data2Doohickey is a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
    </div>
</div>
    <nav th:replace="partials/footer :: footer"></nav>
    <th:block th:include="partials/scripts :: scripts" />
    </body></html>