<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="partials/head :: head('Home')"/>
</head>
<div th:replace="partials/navbar :: nav"></div>
<body>

<div id="particles-js"></div>

<main role="main" class="mx-auto container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto center-align">
            <p style="font-size: 25px; color: white;">LOGO GOES HERE</p>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="homepage-info box-shadow-style px-4">
                <div class="center-align">
                    <img class="homepage-icons mt-1 mb-2" height="100" width="100" alt="social icon" src="icons/icons8-safety-collection-place-500.png"/>
                </div>
                <p class="px-1">
                    Show us what you made: the world wants to see it! 3D modeling and printing is still in its infancy. The more you share your work, the more your designs inspire others, get printed, and do awesome things.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="homepage-info box-shadow-style px-4">
                <div class="center-align">
                    <img class="homepage-icons mt-1 mb-2" height="100" width="100" alt="search icon" src="icons/icons8-search-500.png"/>
                </div>
                <p class="px-1">
                    Our community has uploaded over 100 3D models, and that number is growing every day. Check out all the incredible objects people have created, and get inspired to make your own!
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
            <div class="homepage-info box-shadow-style px-4">
                <div class="center-align">
                    <img class="homepage-icons mt-1 mb-2" height="100" width="100" alt="download icon" src="icons/icons8-download-from-the-cloud-500.png"/>
                </div>
                <p class="px-1">
                    If you see a model you like in our library feel free to download the file.
                </p>
            </div>
        </div>
    </div>
</main>

<nav th:replace="partials/footer :: footer"></nav>
<th:block th:include="partials/scripts :: scripts"/>
</body>
</html>