<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="partials/head :: head(${title})"/>
    <link rel="stylesheet" href="/css/doohickey-styling.css"/>

</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>


    <main class="container-fluid pt-3 row col-10 mx-auto">
        <div th:include="partials/doohickeyList :: doohickeyList" class="mx-auto">
            Pass in List of Doohickeys
        </div>
    </main>


    <nav th:replace="partials/footer :: footer"></nav>
    <th:block th:include="partials/scripts :: scripts" />
</body>
</html>