<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="partials/head :: head(${title})"/>
</head>

<body>
<div id="particles-js"></div>

<nav th:replace="partials/navbar :: nav"></nav>
<script th:if="${action == '/doohickeys/create'}"
        src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:if="${action == '/doohickeys/create'}">
    const client = filestack.init('AsZ4wkm4kSSCPWhIZYFqEz');
    const fsoptions = {
        fromSources: ["local_file_system"],
        accept: [".stl"],
        storeTo: {
            path: '/pre-models/'
        },
        maxFiles: 1,
        startUploadingWhenMaxFilesReached: true,
        onUploadDone: res => {
            console.log(res);
            res.filesUploaded.forEach(function (file) {
                $('<input/>').attr({'type': 'hidden', 'value': file.key, 'name': 'keys'}).appendTo('#doohickeyForm');
            });
            stl_viewer.add_model({
                filename: "https://data2doohickey.s3.us-east-2.amazonaws.com/" + res.filesUploaded[0].key,
                display: 'smooth',
                rotationx: -1.5708,
                rotationy: 0.0,
                rotationz: 0.0
            });
            $("#doohickey_stl").remove();
        }
    };
</script>

<main class="container-fluid w-100 pt-3 mx-auto edit-create-page">
    <div class="stl-edit-content-box content-box mx-auto px-4 box-shadow-style">
        <div class="row">
            <div class="stl-preview col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 mx-auto">
                <div class="edit-content-header content-header center-align font-heading-1 pt-3" th:text="${title}"></div>
                <hr/>
            </div>
        </div>
        <form class="row" id="doohickeyForm" th:action="${action}" method="POST" th:object="${doohickey}">
            <div class="mx-auto col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="center-align">
                <div style="position:absolute; line-height: 2em;">
                    <span class="model-preview text-white">Doohickey Preview:</span>
                </div>
                </div>
                <div class="stl-preview center-align mt-3">
                    <div id="stl_cont" style="width: 300px; height: 300px;">
                    </div>
                </div>
                <div class="row" th:if="${action == '/doohickeys/create'}">
                    <input class="btn upload-model-btn mx-auto" type="button" id="doohickey_stl"
                           onclick="client.picker(fsoptions).open()" value="Upload Model"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control box-shadow-style" id="title" th:field="*{title}"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control box-shadow-style" id="description" rows="4" th:field="*{description}"></textarea>
                </div>
                <div class="form-group" th:if="${action != '/doohickeys/'+doohickey.id+'/edit'}">
                    <label for="tagsString">Tags</label>
                    <input class="form-control box-shadow-style" id="tagsString" th:field="*{tagsString}"/>
                    <small id="tagHelp" class="form-text text-muted">* tags must be separated by commas</small>
                </div>
                <div class="bg-warning">
                    <p th:if="${#fields.hasErrors('files')}" th:errors="*{files}"/>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
                    <p th:if="${#fields.hasErrors('tagsString')}" th:errors="*{tagsString}"/>
                </div>
                <div class="row pb-5">
                    <button type="submit" class="mx-auto btn save-changes-btn box-shadow-style">Save!</button>
                </div>
            </div>
        </form>
    </div>
    <canvas class="dynamic-background"></canvas>
</main>

<nav th:replace="partials/footer :: footer"></nav>

<!--viewstl scripts-->

<script src="/js/stl_viewer.min.js"></script>
<script>
    var stl_viewer = new StlViewer
    (
        document.getElementById("stl_cont"),
        {
            zoom: 200,
            bgcolor: "#A7AEAC",
            allow_drag_and_drop: true,
            auto_resize: true,
            auto_rotate: true,
            mouse_zoom: false
            // models:[{
            //     filename:"/lamp.stl",
            //     display: "smooth",
            //     rotationx: -1.5708,
            //     rotationy: 0.0,
            //     rotationz: 0.0
            //
            // }]
        }
    );
</script>
<th:block th:if="${action == '/doohickeys/'+doohickey.id+'/edit'}">
    <input type="hidden" id="s3Key" th:value="${doohickey.files[0].s3_key}"/>

    <script>
        $(document).ready(function () {
            var interv = setInterval(function () {
                var key = $("#s3Key")[0].value;
                if (key != null) {
                    stl_viewer.add_model({
                        filename: "https://data2doohickey.s3.us-east-2.amazonaws.com/" + key,
                        display: 'smooth',
                        rotationx: -1.5708,
                        rotationy: 0.0,
                        rotationz: 0.0
                    });
                    clearInterval(interv);
                }
            }, 100);
        });
    </script>
</th:block>
<th:block th:include="partials/scripts :: scripts"/>
</body>
</html>