<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="partials/head :: head('View Doohickeys')"/>
    </head>
    <body>



        <nav th:replace="partials/navbar :: nav"></nav>
        <main class="container-fluid w-75 pt-3">
            <nav th:replace="partials/pagination :: pageList"></nav>
            <th:block th:each="doohickey : ${page}">
                <div class="card">
                    <div class="card-header" th:onclick="${'location=''/doohickeys/'+doohickey.id+''''}">
                        <h4 th:text="${doohickey.title}">Doohickey</h4>
                        <small>by <a th:href="${'/profile/'+doohickey.author.username}" th:text="${doohickey.author.username}">Username</a></small>
                    </div>
                    <div class="card-body" th:onclick="${'location=''/doohickeys/'+doohickey.id+''''}">
                        <div class="col-12">
                            <p th:text="${doohickey.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <small class="text-muted" th:text="${'-' + doohickey.author.username}">Username</small>
                            <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${doohickey.author.id}" th:href="@{'/doohickeys/'+${doohickey.id}+'/edit'}">Edit</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button th:if="${user}" class="favButton" th:attr="data-id=${doohickey.id}"><i th:class="${(doohickey.usersFavoritedContains(user.id) ? 'fas' : 'far')+' fa-heart'}"></i></button>

                        <th:block th:each="tag : ${doohickey.tags}">
                            <a href="" th:text="${tag.name}"></a>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script>
                $(".favButton").click(function(e){
                    var button = $(this);
                    var id = button.attr("data-id");
                    console.log(button);
                    $.get("/doohickeys/"+id+"/favorite",function(data){
                        console.log(data);
                        if(data == "Favorited") {
                            console.log(data);
                            button.find("i").removeClass("far");
                            button.find("i").addClass("fas");
                        }else if (data == "UnFavorited"){
                            console.log(data);
                            button.find("i").addClass("far");
                            button.find("i").removeClass("fas");
                        }else {
                            document.location = "/login";
                        }
                    });
                });
            </script>
        </main>
    </body>
</html>