<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="partials/head :: head('Search Results')"/>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<div class="container-fluid w-75 pt-3" style="background-color: lightgray;">
    <h2 class="center-align">Search for doohickeys</h2>
    <form class="form-group" th:object="${doohickey}" th:action="@{/doohickeys/search-doohickeys}" method="GET">
        <label for="search"></label>
        <input class="form-control" type="text" name="search" id="search" th:value="${searchTerm}"/>
        <button class="form-control btn" type="submit">Search</button>

        <div th:include="partials/doohickeyList :: doohickeyList" class="container-fluid pt-3 row col-10 mx-auto">
            Pass in List of Doohickeys
        </div>
    </form>
</div>
</body>
</html>