<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="partials/head :: head(${title})"/>
</head>
<body>
<div id="particles-js"></div>
<nav th:replace="partials/navbar :: nav"></nav>

<main class="container-fluid row w-100 pt-3 mx-auto">
    <div class="view-stl-model content-box col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 m-0 mb-5">
        <div class="content-header view-stl-model-heading font-heading-2" th:text="${doohickey.title}">Title</div>
        <small class="stl-author-link">by: <a th:href="${'/profile/' + doohickey.author.username}" th:text="${doohickey.author.username}">Username</a>
        </small>
        <hr/>
        <div class="row center-align">
            <th:block th:replace="doohickeys/3dShow :: 3dView"></th:block>
        </div>

        <div class="stl-download">
            <hr/>
            <input id="downloadLink" type="hidden"
                   th:value="${'https://data2doohickey.s3.us-east-2.amazonaws.com/' + doohickey.files[0].getS3_key()}"/>
            <button th:attr="data-url=${'/doohickeys/' + doohickey.id + '/download'}" id="downloadBtn"
                    class="stl-download-btn py-2">Download this doohickey
            </button>
        </div>
        <div class="row pb-3">
            <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${doohickey.author.id}"
                 class="stl-delete col-6">
                <form th:action="@{'/doohickeys/' + ${doohickey.id} + '/delete'}" th:method="post">
                    <button class="stl-delete-btn py-2" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id} == ${doohickey.author.id}"
                 class="stl-delete col-6">
                <form th:action="@{'/doohickeys/' + ${doohickey.id} + '/edit'}" th:method="get">
                    <button class="stl-edit-btn py-2">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="about-stl-model content-box col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 m-0 mb-5">
        <div class="row my-2">
            <div class="content-header view-stl-model-heading font-heading-2 pl-3 pb-3">About <span th:text="${doohickey.title}"></span></div>
            <hr/>
            <div class="col-12">
                <p th:text="${doohickey.description}"></p>
            </div>
        </div>
        <div class="stl-tags-box">
            <hr/>
            <th:block th:each="tag : ${doohickey.tags}">
                <h4><a class="content-wrap" href="" th:text="${tag.name}"></a></h4>
            </th:block>
        </div>
    </div>
</main>
<nav th:replace="partials/footer :: footer"></nav>
<th:block th:include="partials/scripts :: scripts"/>

<script>
    $(document).ready(function () {
        document.getElementById("downloadBtn").addEventListener("click", function (event) {
            event.preventDefault();
            var requestData = {};
            var url = $("#downloadBtn").attr("data-url");
            $.ajax({
                type: "GET",
                url: url,
                data: requestData
            });
            window.open($("#downloadLink")[0].value);
        });
    });
</script>
</body>
</html>