<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="partials/head :: head(${title})"/>
    </head>
    <body>
        <nav th:replace="partials/navbar :: nav"></nav>
        <main class="container-fluid w-100 pt-3">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${doohickey.title}"></h2>
                    <small>by <a th:href="${'/profile/'+doohickey.author.username}" th:text="${doohickey.author.username}">Username</a></small>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-5">
                        <!--Main picture block-->
                            <th:block th:replace="doohickeys/3dShow :: 3dView"></th:block>
                        </div>
                        <div class="col-md-5 content-box" th:text="${'About ' + doohickey.title + ': ' + doohickey.description}">
                        </div>
                        <div sec:authorize="isAuthenticated()" class="col-1">
                            <a th:if="${#authentication.principal.id} == ${doohickey.author.id}" th:href="@{'/doohickeys/'+${doohickey.id}+'/edit'}">Edit</a>
                        </div>
                        <a target="_blank" class="col-md-5" th:href="${'https://data2doohickey.s3.us-east-2.amazonaws.com/'+doohickey.files[0].getS3_key()}">
                            <button class="w-100 h-100" style="background-color: #55759D; color: white;">Download This Doohickey</button>
                        </a>
                    </div>
                </div>
                <div class="card-footer">
                    <button th:if="${user}" class="favButton" th:attr="data-id=${doohickey.id}"><i th:class="${(doohickey.usersFavoritedContains(user.id) ? 'fas' : 'far')+' fa-heart'}"></i></button>

                    <th:block th:each="tag : ${doohickey.tags}">
                        <h4><a href="" th:text="${tag.name}"></a></h4>
                    </th:block>
                </div>
            </div>
        </main>
        <nav th:replace="partials/footer :: footer"></nav>
        <th:block th:include="partials/scripts :: scripts" />
    </body>
</html>